# Semana 07
Jaime Giancarlo Matheus Guerra

# Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
#Universidad Nacional Tecnológica de Lima Sur
#01234....
#                                       -2 -1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [7]:
cadena[-1]

'r'

In [8]:
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
# tAMBIÉN LO PUEDO MOSTRAR ACCEDIENDO DE MANERA INVERSA
cadena[-23]

'T'

In [11]:
#Para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [12]:
# parasaber el tamaño de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

44

In [13]:
# para mostrar una cadena en mayúsuclas utilizas upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [14]:
# Ojo..... solo lo muestra, porque el orginal sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [16]:
#Para mostrar una cadena en minúscula utilizas .lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [17]:
# Generar una lista a partir de una cadena .split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [22]:
#Generar una lista utilizando un criterio de separación a partir de una cadena .split()
#En este caso vamos a generar una lista de toda la cadena
#utilizando como criterio de separación la letra "A"
cadena.split('a')

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

In [24]:
# Forma clásica, concatenar con + 
nombre = "Jaime Matheus"
print( "Buenas tardes " + nombre)

Buenas tardes Jaime Matheus

In [28]:
#Utilizando el .format()
nombre ="Ricardo Joel"
edad = 13
print("hola {} ya se que tienes {} años" .format(nombre,edad))

hola Ricardo Joel ya se que tienes 13 años

In [38]:
#Dar formato a números con muchos decimales
resultado = 10/3 
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}" .format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [40]:
# Dar formato a números con muchos decimales con f
resultado = 10/3 
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333