# Semana 07
Jaime Giancarlo Matheus Guerra

# Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

In [5]:
#5.1 OPERADORES ARITMÉTICOS
# SE TIENE: +, -, *, /, **, %, //
numero1=10
numero2=3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
3
1000

In [6]:
# 5.2 Operadores de asignación
#Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3 
print(numero)

8

In [8]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5 
numero +=3
print(numero)

8

In [17]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# veamos otro ejemplo:
numero =5 
numero **= 2
print(numero)

25

In [18]:
# 5.3 Operadores de compración
# Se tiene: ==, !=, <, >, <=, >=,

In [19]:
#Ejemplo de igualdad ==
numero1 = 5 
numero2 = 2 
numero1 == numero2

False

In [20]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [21]:
#5.4 operadores lógicos
# se tiene: and, or, not 
numero1=5 
numero2=6
numero3=7
numero4=8

In [22]:
numero1 < numero2

True

In [23]:
#El not invierte el resultado
not(numero1<numero2)

False

In [24]:
# También puedes utilizar parentesis para ordenar tu operación
(numero1 <numero2 and numero3<numero4) or (numero3>numero4)

True

In [25]:
# 5.5 Operadores de Pertenencia
#Se tiene: in, not in 
aula = ["Juan", "Daniel", "Ruben"]
alumno1= "Diego"
alumno2= "Juan"

In [27]:
# ¿Diego está en aula?
alumno1 in aula

False

In [28]:
# ¿Juan esta en aula?
alumno2 in aula

True

In [29]:
# ¿Diego no está en el aula?
alumno1 not in aula

True

In [30]:
# ¿Juan no está en aula? 
alumno2 not in aula

False

In [31]:
# 5.6 Operadores de identidad 
# Se tiene: is, is not

aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A continuación vmaos a indicar que aula 3 va a 
#compartir el mismo objeto que aula1
aula3 = aula1;

In [32]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [33]:
# aula3 comparte el mismo objheto que aula2
aula3 is aula2

False

In [35]:
# ¿Aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [36]:
aula1.append("Diego")

In [37]:
# Al imprimir los elemnetos de la lista aula1 se obsserva
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [39]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [40]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']