Semana 07

# Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

2. Variables
siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [1]:
edad = 41
edad

41

In [2]:
nombre ="Jaime"
nombre

'Jaime'

In [3]:
apellido= "Matheus Guerra"

In [4]:
apellido

'Matheus Guerra'

In [7]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Jaime Matheus Guerra'

In [11]:
numero = 50
print(numero)
type(numero)

50

int

In [10]:
talla= 1.63
print(talla)
type(talla)

1.63

float

In [15]:
#Para convertir un número en cada utilizamos str()
numero = 100
cadena = str(numero)
print(cadena)
type(cadena)

100

str

In [17]:
# para convertir una cadena en un entero utilizamos int()
cadena2= "50"
numero2 = int(cadena2)
numero2

50

In [19]:
# para convertir una cadena a un decimal utilizamos float 
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0